* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

@font-face {
    font-family: 'Neue Hans Kendrick';
    src: url('../fonts/NeueHansKendrick-Regular.eot');
    src: url('../fonts/NeueHansKendrick-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeueHansKendrick-Regular.woff2') format('woff2'),
        url('../fonts/NeueHansKendrick-Regular.woff') format('woff'),
        url('../fonts/NeueHansKendrick-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    background-color: #e2e7ec;
    font-family: 'Neue Hans Kendrick', sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 30px;
    color: #1d1d1d;
}

main {
    padding: 3.5em 0 2.3em;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
}

.articles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: all .3s ease-in;
}

.articles:hover .article:not(:hover) {
    opacity: .5;
    transition: all .3s ease-in;
}

.article {
    width: 100%;
    /* max-width: 360px; */
    flex-basis: 32%;
    height: 540px;
    background-color: #fff;
    margin-bottom: 20px;
    overflow: hidden;
    transition: all .3s ease-in;
}

.article:hover {
    border-radius: 50px 0;
}

.article:hover .article__data:not(.article__data--wide), .article:hover .article__title:not(.article__title--wide) {
    color: rgba(5, 5, 146, 0.9);
}

.article:hover .article__author-img {
    box-shadow: 0px 0px 10px 3px rgba(4, 4, 175, 0.6);
}

.article:hover .article__link:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-image: radial-gradient(at top, rgba(0,0,0,0), rgba(0,0,0,.5));
}

.article__link {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 1.15em;
    transition: all .3s ease-in;
    position: relative;
}

.article__content {
    overflow: hidden;
    height: 100%;
    position: relative;
}

.article__image {
    padding-top: 70%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.article__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    max-height: 100%;
    max-height: 100%;
}

.article__attr {
    padding: .7em .9em .25em;
}

.article__data {
    display: block;
    margin-bottom: 1.5em;
    color: #818181;
    font-size: 1.3rem;
    line-height: 30px;
    text-transform: uppercase;
}

.article__data:empty + .article__title{
    margin-top: 2.5em;
}

.article__title {
    margin: 0;
    font-size: inherit;
    text-transform: uppercase;
}

.article__author {
    padding: 1.35em .9em 0;
}

.article__author-img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 50%;
}


/* === block wide === */
.article--wide {
    /* max-width: 740px;    */
    flex-basis: 66%;
}

.article__link--wide {
    padding: 0;
}

.article__image--wide {
    padding-top: 73%;
    height: 100%;
}

.article__image--wide:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-image: linear-gradient(to top, rgba(0,0,0,.6), rgba(0,0,0,0));
}

.article__attr--wide {
    color: #fff;
    padding-left: 2em;
    position: absolute;
    z-index: 2;
    bottom: 6%; /*45px от ширины родителя 740px*/
    left: 0;
}

.article__data--wide {
    color: inherit;
    opacity: .5;
}

.article__title--wide {
    font-size: 3rem;
    line-height: 36px;
    padding-right: 8.8em; 
}

.footer {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #99a5b0;
    padding: 1em 0 7.7em;
}

.footer__icon {
    font-size: 3rem;
    margin-right: .7em;
    vertical-align: middle;
    animation-name: animation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: backwards;
}

@keyframes animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}